p{
    font-weight: 100;
    text-shadow:8px 4px 10px  rgba(32, 32, 32, 0.295);
}
body{
   height: 100vh;
   margin: auto;
   background-color: aliceblue;
}
.container{
    max-width: 1000px;
 
}
.hight-100vh{
    height: 100vh;
}
.bg-image-hight{
    background-image: url(../img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:auto;
    margin-bottom: auto;
    height: 300px;
}

.co-margin{
    margin-top: 100px;
}
/* for social media icons */
.i-button{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    box-shadow:  0 10px 10px  rgba(0, 0, 0, 0.219);
    transition: all 0.3s ease-in-out;
}
.i-button:hover{
    width: 200px;
}
.i-button .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    line-height: 60px;
    transition: all 0.3s ease-out;


}
.i-button span{
    color: #333;
}
.i-button:nth-child():hover
.icon{
    background: #3B5998;

}
.i-button:nth-child(2):hover
.icon{
    background: #55ACEE;
}
.i-button:nth-child(3):hover
.icon{
    background: #bb0000;

}
.i-button:nth-child(4):hover
.icon{
  

}
.i-button:nth-child(5):hover
.icon{
    background:#8a3ab9;

}

.i-button .icon{
   margin: auto;
}
.i-button .icon i{
    margin-top: 15px;
    font-size: 30px;
    color: #333;
    transition: all 0.3s ease-out;
}

/* for main page Galley */
.hi-slide { position: relative; width: 754px; height: 292px; margin: 115px auto 0; }
            
.hi-slide .hi-next,
.hi-slide .hi-prev 
            { position: absolute;
              top: 50%; 
              width: 40px;
              height: 40px; 
              margin-top: -20px;     
              border-radius: 50px; 
              line-height: 40px;
              text-align: center; 
              cursor: pointer;
              background-color: #fff; 
              color: black;               
              transition: all 0.6s;
              font-size: 20px; 
                font-weight: bold;
            }
 .hi-slide .hi-next:hover, 
 .hi-slide .hi-prev:hover 
            {
            opacity: 1; 
            background-color: #fff;  
            }
            
           .hi-slide .hi-prev { left: -60px; }
            
            .hi-slide .hi-prev::before { content: '<'; }
            .hi-slide .hi-next { right: -60px; }
            .hi-slide .hi-next::before { content: '>'; }
    
 .hi-slide > ul
                    { 
                        list-style: none; 
                        position: relative;
                        width: 754px; 
                        height: 292px; 
                        margin: 0;
                        padding: 0;
            }
            
            
 .hi-slide > ul > li {
            overflow: hidden; 
            position: absolute; 
            z-index: 0; 
            left: 377px;
            top: 146px; 
            width: 0; 
            height: 0; 
            margin: 0; 
            padding: 0;
            border: 3px solid #fff;              
            background-color: #333; 
            cursor: pointer; }
            
 .hi-slide > ul > li > img { width: 100%; height: 100%; background-position: center;}



 .info_text{
    display: none;
     background-color: rgba(0, 0, 0, 0.219);
     color: #333;
     
     transition: all 0.4s ease;
 }
 .img_info{
     cursor: pointer;
 }
 .img_info:hover .info_text{
    display: inline;
   

}
@media screen and (max-width:576px){
    .bg-image-hight{
        max-height: 350px;
        width: 100%;
    }
    }

    @media screen and (max-width:450px){
        .bg-image-hight{
            max-height: 250px;
            width: 100%;
    }
   }




 @media screen and (min-width:883px){
 #gallery-slide{
     display: none;
     
 }

 }

 @media screen and (max-width:883px){
    .display-none { display: none;}
    #gallery-slide{
        display:inline;
    }
}